<h1>Login To Your Account</h1>

<% if @message %>
  <%= @message %>
<% end %>

<div id="form-login">
<form action="/sessions" method="post">
  <label for="email">Email</label>
  <input type="text" name="email" placeholder="Email">

  <label for="password">Password</label>
  <input type="password" name="password" placeholder="password">

  <input type="submit" value="Login">
</form>
</div>

