<form id="create_answer" action="/questions/<%= question.id %>/answers" method='post'>
  <input id="answer_text" type="text" name="body">
  <input name="commit" type="submit" value="Add an Answer" />
  </form>
